h1 {
    margin: 0;
    font-size: 3em;
    font-family: 'Merriweather', 'Times New Roman';
}

.Info {
    /* background-color: rgba(255, 255, 255, 0.05); */
    background-color: red;
    width: 80%;
    margin: 0 auto;
}
