.Info {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;
}

.LargeTitle {
    margin: 0 0 10px 0;
    font-size: calc(30px + 3.5vw);
    font-family: 'Merriweather', 'Times New Roman';
    text-align: center;
}

.DescriptionBox {
    font-size: calc(14px + 0.75vw);
}

@media (max-width: 450px) {
    .Info {
        margin-bottom: 10px;
    }

    .LargeTitle {
        margin: 0;
    }
}
