.ReminderForm {
    margin: 0 auto;
    width: 80%;
    background-color: blueviolet;
}

p {
    margin: 0;
}

.inputError {
    border-width: 1px;
    border-color: red;
}

.errorLabel {
    color: red;
}
