.ReminderForm {
    margin: 0 auto;
    padding: 0px 20px 20px 20px;
    width: 90%;
    border-radius: 15px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    background-color:white;
}

.ReminderForm:hover {
    /* Add deeper shadows on hover */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

p {
    margin: 0;
}

input, textarea, #phone-form-control {
    -webkit-appearance: none;
    width: 100%;
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    font-family: inherit;
}

input, #phone-form-control {
    text-align: center;
    height: 40px;
    font-size: calc(14px + 0.75vw) !important;
}

input, .react-tel-input .form-control {
    width: 100% !important;
}

textarea {
    height: calc(100px + 5vh);
    font-family: inherit;
    font-size: calc(14px + 0.75vw);
    resize: none;
}

input:focus, textarea:focus {
    outline: none;
}

.fieldLabel, .characterCount {
    /* font-family: 'Merriweather'; */
    font-size: calc(14px + 0.75vw);
    margin-top: 13px;
    margin-bottom: 4px;
    display: inline-block;
}

.characterCount {
    float: right;
}

.inputError {
    border-width: 1px;
    border-color: red;
}

.errorLabel {
    color: red;
    width: 100%;
    font-family: inherit;
    font-size: calc(10px + 0.50vw);
}

