.ReminderForm {
    margin: 0 auto;
    padding: 20px;
    width: 90%;
    background-color: blueviolet;
}

p {
    margin: 0;
}

input, textarea {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    border-radius: 5px;
    font-family: inherit;
}

input {
    text-align: center;
    height: 40px;
    font-size: calc(14px + 0.75vw);
}

textarea {
    height: calc(100px + 5vh);
    font-family: inherit;
    font-size: calc(14px + 0.75vw);
    resize: none;
}

input:focus, textarea:focus {
    outline: none;
}

.fieldLabel, .characterCount {
    font-family: 'Merriweather';
    font-size: calc(14px + 0.75vw);
    margin-top: 8px;
    margin-bottom: 3px;
    display: inline-block;
}

.characterCount {
    float: right;
}

.inputError {
    border-width: 1px;
    border-color: red;
}

.errorLabel {
    color: red;
    width: 100%;
    font-family: inherit;
    font-size: calc(14px + 0.75vw);
}

