.SubmitButton {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 40px;
    background-color: white;
    font-family: inherit;
    font-size: calc(14px + 0.75vw);
    border: 1px solid #dfe1e5;
    border-radius: 5px;
    margin-top: 10px;
}

.SubmitButton:focus {
    outline: none;
}
