.SubmitButton {
    width: 100%;
    height: 40px;
    background-color: white;
    font-family: inherit;
    font-size: calc(14px + 0.75vw);
    border-radius: 1px;
    border-color: black;
    border-radius: 5px;
    margin-top: 10px;
}

.SubmitButton:focus {
    outline: none;
}
