.SubmitButton {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 40px;
    color: black;
    font-family: inherit;
    font-size: calc(14px + 0.75vw);
    border: 1px solid #dfe1e5;
    border-radius: 5px;
    margin-top: 10px;
    background: white;

}

.buttonText {
    font-family: inherit;
    font-size: calc(14px + 0.75vw);
    color: black;
}

.SubmitButton:focus {
    outline: none;
}

.SubmitButton:hover {
    background: #f12711; /* fallback for old browsers */
    background: -webkit-linear-gradient(151.32deg, #f12711, #f5af19); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(151.32deg, #f12711, #f5af19); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    margin: 0 auto;
    height: 30px;
    width: 30px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
